@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  font-family: Orbitron;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px #aaa);
}


.line1 {
  width: 0.1rem;
  height: 12rem;
  background-color: chartreuse;
}

.line2 {
  width: 0.1rem;
  height: 13.5rem;
  background-color: chartreuse;
}

.line3 {
  width: 0.1rem;
  height: 15rem;
  background-color: chartreuse;
}

.line4 {
  width: 0.1rem;
  height: 16rem;
  background-color: chartreuse;
}

ul {
  list-style: none;
  padding: 0;
}

.li-exp {
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.li-exp:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #D8E9A8;
  border-radius: 50%;
}

@media only screen and (max-width: 750px) {
  .line1 {
      width: 0.1rem;
      height: 21rem;
      background-color: chartreuse;
    }
  
    .line2 {
      width: 0.1rem;
      height: 20rem;
      background-color: chartreuse;
    }
  
    .line3 {
      width: 0.1rem;
      height: 24rem;
      background-color: chartreuse;
    }
  
    .line4 {
      width: 0.1rem;
      height: 25rem;
      background-color: chartreuse;
    }
}